<!DOCTYPE html>
<html>
<head>
  <title>File a Complaint</title>
</head>
<body>
  <form action="/complaint" method="POST" id="form">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="campus" placeholder="Campus"><br>
      <button type="submit">Save</button>
  </form>
  <textarea rows="4" cols="50" name="complaint" form = "form"></textarea><br>
 <!--    <input type="text" name="complaint" placeholder="Complaint Goes Here"><br> -->
  
</body>
</html>