<!DOCTYPE html>
<html>
<head>
  <title>File a Complaint</title>
</head>
<body>
  <form action="/complaint" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="campus" placeholder="Campus"><br>
    <input type="text" name="complaint" placeholder="Complaint Goes Here"><br>
    <button type="submit">Save</button>
  </form>
</body>
</html>