body {
  max-width: 960px;
  display: flex;
  vertical-align: top;
  margin: auto;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 20%;
  min-width: 150px;
  padding: 5px;
}

main {
  width: 78%;
}
/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 340px) {
  body {
  flex-direction: column;
  }

  #link-header {
  font-size: 20px;
  }

  #main-header {
  font-size: 20px;
  }

}

@media screen and (min-width: 600px) {
  body {
  width: 100%;
  }
}

