#contact-info {
font-size: .8em
}

.job {
  background-color:  #e9e5dc;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.list {
  font-size: .8em;
}

.list div> li {
  color: red;
}

#personal-objective:hover {
  color: red;
}