#contact-info {
  font-size: .8em;
}

#contact-info p a:link {
    color: orange;
}
#contact-info p a:visited {
    color: green;
}

#contact-info p a:hover {
    color: red;
}

#contact-info p a:active {
    color: purple;
}
.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 20px;
  margin-top: 50px;
}

.job ul {
  font-size: .8em;
}