.thingie {
  display: inline-block;
}

#octopus {
  margin: 15px auto 0px auto;
  z-index: -1;
  position: absolute;
  top: 30px;
  left: 45%;
}

#hat{
  position: absolute;
  left: 43%;
}

#glasses {
  position: absolute;
  top: 150px;
  left: 48%;
}
