#octopus {
  display: block;
  margin: auto;
  margin-top: 150px
  /*z-index: 0;*/
}

#hat {
  display: block;
  margin: auto;
  position: relative;
  bottom: 360px;
  left: 15px;


}

#glasses {
  display: block;
  margin: auto;
  position: relative;
  bottom: 355px;
  left: 5px;
}